<div class="navbar">
  <div class="menu-icon-mob"><img src="assets/img/icons/menu-mob.svg" alt="menu-mob"></div>
  <div class="logo"><img src="../../assets/img/logo-white-blue-badge-2.png" alt=""></div>
  <div class="menu">
    <ul>
      <li class="menu_link "><a href="#" ><img src="../../assets/img/icons/icons-home-2.svg" alt=""></a></li>
      <li class="menu_link "><a href="#" >Opportunities</a></li>
      <li class="menu_link "><a href="#" >Community</a></li>
      <li class="menu_link "><a href="#" >Insights</a></li>
      <li class="menu_link "><a href="#" >Newsroom</a></li>
      <li class="menu_link "><a href="#" >Organisations</a></li>
    </ul>
  </div>
  <div class="logjoinin">
    <button class="login">Log in</button>
    <button class="joinnow">Join now</button>
  </div>
</div>


<div class="popup-menu">
  <div class="popup-menu__container">
    <div class="popup-menu__header">
      <div class="close-icon-mob">
        <img src="assets/img/icons/close-fill.svg" alt="menu-mob">
      </div>
    </div>
    <div class="popup-menu__body">
      <ul>
        <li class="popup-menu_link "><a href="#" ><img src="../../assets/img/icons/icons-home-2.svg" alt=""></a></li>
        <li class="popup-menu_link "><a href="#" >Opportunities</a></li>
        <li class="popup-menu_link "><a href="#" >Community</a></li>
        <li class="popup-menu_link "><a href="#" >Insights</a></li>
        <li class="popup-menu_link "><a href="#" >Newsroom</a></li>
        <li class="popup-menu_link "><a href="#" >Organisations</a></li>
      </ul>
    </div>
    <div class="logjoinin">
      <button class="login">Log in</button>
      <button class="joinnow">Join now</button>
    </div>
  </div>
</div>
