//===============================================================

$primary-brand-legacy-brand: #3498db;
$primary-brand-contrast-section: #293b61;
$page-text-grey: #666666;
$page-text-page-background: #f3f4f6;
$buttons-secondary: #e8f1ff;
$buttons-disabled: #ebebeb;
$notification-affirmative: #40a434;
$notification-attention: #f97f15;
$notification-error: #e42323;
$opportunity-co-founder: #ca2e55;
$opportunity-partnership: #003f91;
$opportunity-expert-advise: #f8971d;
$opportunity-mentor: #833fff;
$opportunity-connection: #0197f6;
$opportunity-investment: #34ba92;
$opportunity-volunteer: #cd44db;
$opportunity-other: #b9beca;
$buttons-primary: #106fff;
$opportunity-other: #b9beca;
$grey-bg-light-eb: #ebebeb;
$black: #111111;
$white: #ffffff;
