
<div class="organisation">

  <div class="firstContent">
    <div class="mainCard">
      <div class="mainCard_title">
        Africa’s highest-impact, global community
      </div>
      <div class="mainCard_subtitle">
        Access top professionals, entrepreneurs and graduates from Africa, the African diaspora, and the globe
      </div>
      <button class="mainCard_btnGreen">
        Contact Movemeback
      </button>
    </div>
    <div class="firstContent_links">
      <ul>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/uber-logo-2018.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/uber-logo-2018.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/logo-dalberg.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/find-us-fb-rgb.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/bitmap.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/uber-logo-2018.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/uber-logo-2018.png" alt="">
          </a>
        </li>
        <li class="logos">
          <a href="#">
            <img src="../../assets/img/logos/uber-logo-2018.png" alt="">
          </a>
        </li>
        </ul>

    </div>
  </div>

  <div class="secondContent">
    <div class="contentTitleCard">
      <div class="contentTitleCard_smTitle">The impact</div>
      <div class="contentTitleCard_bigTitle">Grow your Organisation on the Continent</div>
    </div>
    <div class="secondContent_orgCard">
      <div class="orgCard orgCard__hand-heart">
        <div class="orgCard_icon"><img src="../../assets/img/icons/hand-heart-line%20-green.svg" alt="icon"></div>
        <div class="orgCard_text">Find and secure the talent you need to grow</div>
      </div>
      <div class="orgCard orgCard__chat-smile">
        <div class="orgCard_icon"><img src="../../assets/img/icons/chat-smile-2-line-green.svg" alt="icon"></div>
        <div class="orgCard_text">Reach new partners, customers and influencers</div>
      </div>
      <div class="orgCard orgCard__pie-chart">
        <div class="orgCard_icon"><img src="../../assets/img/icons/pie-chart-line%20-green.svg" alt="icon"></div>
        <div class="orgCard_text">Access advice and insights to support decision making</div>
      </div>
      <div class="orgCard orgCard__service-line">
        <div class="orgCard_icon"><img src="../../assets/img/icons/service-line%20-green.svg" alt="icon"></div>
        <div class="orgCard_text">Partner with us on programs, initiatives and policy, to shape the Continent</div>
      </div>
    </div>
  </div>



  <div class="thridContent">
    <div class="contentTitleCard">
      <div class="contentTitleCard_smTitle">The impact</div>
      <div class="contentTitleCard_bigTitle">Grow your Organisation on the Continent</div>
    </div>
    <div class="thridContent_img">
      <img src="../../assets/img/thirdContentBack.jpg" alt="image">
    </div>
    <div class="thridContent_text">
      <span class="text_green">50,000</span> skilled leaders, professionals and entrepreneurs
      Members in over <span class="text_green">170 countries</span>
      <span class="text_green">95%</span> African heritage or work experience
      <span class="text_green">50%</span> living outside of Africa; <span class="text_green">50%</span> living in Africa
      <span class="text_green">50:50</span> gender split
    </div>
    <button>Contact Movemeback</button>
  </div>


</div>
